header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 115;

    width: 100%;

    background: #385e97;
    color: #b7b7b7;

    box-shadow: 0 0 45px 0px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #b7b7b7;
}

.navbar a:hover {
    color: #111;
}




.logo {
    display: flex;
    .theme-picker {
        width: 50px;
        height: 50px;
        margin-right: 1em;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.hc-logo {
    position: relative;
    a:visited,
    a:link,
    a:active,
    a:hover {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }


    .hc-title{
        display: block;
        height: 50px;
        h1 {
            color: #fff;
            letter-spacing: -1px;
            font-family: var(--logo-font);
            font-size: 1.5em;
            font-weight: normal;
            line-height: 1.3em;
            margin: 0;
        }
        span {
            color: var(--legendgreen, #444);
        }
        .hc-desc {
            position: absolute;
            top: 30px;
            font-size: 0.8em;
            padding-left: 2px;
            width: -webkit-fill-available;
        }
    }
    
}



/* settings-icon */
.settings-icon {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    z-index: 121;
    color: #4a89dc;
    cursor: pointer;
    text-align: center;
    svg.icon{
        width: 30px;
        height: 50px;
    }
}

.settings-icon:hover,
.burger:hover {
    background-color: rgba(0, 0, 0, .3);
}

/* header.navbar */
.burger {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    z-index: 121;
    cursor: pointer;
}

.x,
.y,
.z {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 15px;
    right: 12.5px;
    background: #4a89dc;
    border-radius: 2px;
    transition: all 200ms ease-out;
}

.x,
.y,
.z {
    height: 3px;
    width: 26px;
}

.y {
    top: 18px;
}

.z {
    top: 37px;
}

.collapse {
    top: 20px;
    background: #4a89dc;
    transition: all 70ms ease-out;
}


.rotate30 {
    transform: rotate(30deg);
    transition: all 50ms ease-out;
}

.rotate150 {
    transform: rotate(150deg);
    transition: all 50ms ease-out;
}

.rotate45 {
    transform: rotate(45deg);
    transition: all 100ms ease-out;
}

.rotate135 {
    transform: rotate(135deg);
    transition: all 100ms ease-out;
}