.sidemenu {
    position: fixed;
    top: 0;
    right: -300px;
    min-height: 100vh;
    width: 300px;
    max-width: 100%;
    color: #fff;
    background-color: #537895;
    background-image: linear-gradient(
315deg
, #537895 0%, #09203f 74%);
    border-left: 5px solid #305386;
    padding: 20px;
    transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
    z-index: 1111;
}

.sidemenu.opened{
    right: 0;
}

.burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1112;
    transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
}