.sidemenu{
    position: fixed;
    top: 0;
    right: -300px;
    min-height: 100vh;
    width: 300px;
    max-width: 100%;
    color: #4a89dc;
    background-color: #537895;
    background-image: linear-gradient(315deg, var(--sidegradient01, #537895) 0%, var(--sidegradient02, #09203f) 74%);
    border-left: 5px solid #305386;
    transition: all 500ms cubic-bezier(0, 0.995, 0.99, 1);
    z-index: 1111;
    overflow: hidden;
    .side-wrapper{
        position: relative;
        display: block;
        width: 100%;
        height: 100vh;
        padding: 20px;
        overflow: auto;
        &::-webkit-scrollbar { 
            display: none;
        }
    }
    &.opened{
        right: 0;
    }
    .nav{
        margin-top: 4em;
    }
    .title{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: #aaaaaa;
        margin: 1.5em 0;
    }
}

/* off-canvas space menum */
.nav-open {


    main {
        transform: scale(0.9);
    }

    .overlay {
        opacity: 0.6;
        visibility: visible;
    }

    .nav-container {
        transform: translateX(0);
    }


    // Sidemenu List Effect
    .nav li a {
        animation: slide-in 0.4s 0.2s backwards;
    }

    .nav li:nth-of-type(2) a {
        animation-delay: 0.3s;
    }

    .nav li:nth-of-type(3) a {
        animation-delay: 0.4s;
    }

    .nav li:nth-of-type(4) a {
        animation-delay: 0.5s;
    }

    .nav li:nth-of-type(5) a {
        animation-delay: 0.6s;
    }

    .nav li:nth-of-type(6) a {
        animation-delay: 0.7s;
    }

    .nav li:nth-of-type(7) a {
        animation-delay: 0.8s;
    }

    .nav li:nth-of-type(8) a {
        animation-delay: 0.9s;
    }
}

.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay, #31558a);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

// Sidemenu List
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    a {
        display: block;
        padding: 0.4em 0;
        font-size: 31px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        color: #4a89dc;
        transform: translateZ(0);

        &:hover {
            color: deepskyblue;
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* off-canvas */
/* arama */
form#searchform {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.arama {
    padding: 8px !important;
    border-radius: 10px !important;
    border: 3px solid #4a89dc !important;
    background: transparent !important;
    color: azure !important;
    width: calc(100% - 50px) !important;
    height: unset !important;
    max-width: 100%;

    &::placeholder {
        color: #4a89dc;
        font-size: smaller;
    }

    &:hover {
        border: 3px solid deepskyblue !important;
    }
}

.arama-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #4a89dc;
    cursor: pointer;
    height: 32px;
    width: 50px;

    &:hover {
        color: deepskyblue
    }
}


@media (max-width: 480px) {
    .settings-content {
        min-height: calc(70vh - 50px);
    }
}


