.yakinda {
  position: absolute;
  bottom: 40%;
  left: 42%;
  transform: translate(-50%, -50%);
  display: block;
  height: 280px;
  width: 200px;
  @include mobile {
    left: 25%;
  }
}

civi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #000;

  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

ip {
  display: block;
  width: 200px;
  height: 200px;
  border-top: 3px solid;
  border-right: 3px solid;
  transform: rotate(-45deg);
  margin-left: -1.5px;

  position: absolute;
  top: 33px;
  border-radius: 10px;

}

kutu {
  display: flex;
  width: 280px;
  height: 150px;
  background: #eee;
  border-radius: 20px;

  position: absolute;
  bottom: 0;
  left: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  border: 5px solid #f8f8f8;
  box-shadow: 3px 3px 7px rgba(var(--section, #000), 0.2);

  span {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.yakinda {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: top center;
  transition: bottom 1s;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

.yakinda.dustu {
  bottom: -40%;
  .icon-bird {
    left: -100vw;
    top: -90vh;
  }
}

.yakinda .icon-bird {
  position: absolute;
  z-index: 23;
  left: 185px;
  top: 17px;
  width: 40px;
  height: 40px;
  transition: all 2s;
  cursor: pointer;
}