*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #4b5563;
  background: #31558A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;
}