:root {
    --main-color: #01aef0;
    --second-color: #5bc0de;
    --bgcolor: #31558A;
    --navcolor: #385e97;
    --legendgreen: #af0;
    --videoColor: var(--main-color);

    --maxwidthlg: 1140px;
}